.display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.45),
      rgba(199, 143, 143, 0.45)
    ),
    url(../src/Images/backgroundImage.jpg);
  min-height: 100vh;
}
.card {
  background-color: rgb(231, 231, 248);
  color: rebeccapurple;
  font-family: cursive;
  border-radius: 4px;
}
button {
  display: block;
  margin: auto;
}
